[Mission Control]
# Whether to relay received data to remote servers or not.
relay-enabled = False
# Mission name
mission-name=ESTCube-2
# If the relay is enabled, all received AX.25 packets are sent to the SIDS service at this url.
mcs-relay-url = https://staging.estcube.eu/sids/ax.25
# Type of the SIDS relay request. Possible values are GET and POST.
# (Currently only POST is supported by ESTCube servers).
relay-request-type = POST


# Callsign of the receiver. Will be transmitted alongside the AX.25 packet.
# The callsign is made up of upper-case alpha and numeric ASCII characters only, maximum length of 6.
receiver-callsign = CHANGE_ME
# Norad ID of the spacecraft that you're listening to. Will be transmitted alongside the AX.25 packet.
norad-id = 39161
# Longitude of the receiver. Will be transmitted alongside the AX.25 packet.
longitude = 58.377974
# Latitude of the receiver. Will be transmitted alongside the AX.25 packet.
latitude = 26.729019

[TNC interface]
# Protocol to use for TNC communication (AGW / KISS). (Currently only KISS is supported).
tnc-protocol-type = KISS
# Type of connection over which the TNC sends packets to the software (TCP/IP / RS232). (Currently only TCP/IP is supported).
tnc-connection-type = TCP/IP
# IP of the TNC if TCP/IP is used.
tnc-ip = localhost
# Port of the TNC if TCP/IP is used. 
# The default value is configured to work with UZ7HO soundmodem
tnc-port = 8100
# If the TNC connection fails initially, the amount of times to retry connecting.
max-connection-attempts=20
# The amount of seconds to wait before retrying the TNC connection.
connection-retry-time=5
# Source of AX.25 frame that the client will accept and forward
# The callsign is made up of upper-case alpha and numeric ASCII characters only, maximum length of 6.
satellite-src = ES5E-1

[Client]
# Path to the client database file (will be created if doesn't exist). Relative to the executable.
database=../telemetry.db
# Path to the logs folder (will be created if doesn't exist). Relative to the executable.
logs=packet_logs
# Path to the folder containing the static frontend files. Relative to the executable.
static-files-path=../static/
# URL of the latest tle endpoint.
tle-url=http://staging.estcube.eu/sids/tle
# URL of the latest version check endpoint.
versions-url=https://staging.estcube.eu/sids/index
# Localhost port to serve the frontend on.
# Defaults to port 5000
frontend-port=5000
# Turns on debug logging for the client.
debug-log = False
# Turns on automatic updating for the client.
automatic-updating = True
# Interval between relaying all unrelayed packets in seconds
relay-interval = 3600
# Number of packets lost in a row to stop relay
lost-packet-count = 10
# grafana.db filepath
grafana-database=../grafana/data/grafana.db
