**/.vscode/
**/__pycache__

**/*.log
client/configuration.ini
**/.idea
**/*.db
client/static/
client/dist/
**/dist/
client/src/__test__
client/test/utListener.py
env/
.vscode/

client/src/main_kaitai.py
client/src/common.py
client/src/obc.py
client/src/aocs.py
client/src/pcom.py
client/src/scom.py
client/src/eps.py
client/src/st.py
client/src/sp.py
