.common {
    min-height: 100vh;
    background: #DCDCDC;
    font-size: 16px;
}
html, body, head {
    min-height: 100vh;
    background: #DCDCDC;
    padding-right: 0 !important;
    overflow: auto !important;
}